//更改swiper的箭頭顏色、大小、背景顏色、按鈕禁用狀態
.custom-swiper-button-prev,
.custom-swiper-button-next {
    background-color: white;
    color: #5a5d62;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 0.3s ease;
}

.custom-swiper-button-prev:hover,
.custom-swiper-button-next:hover {
    background-color: black; /* 懸停時的背景顏色 */
    svg {
        path {
            fill: white;
        }
    }
}

/* 禁用狀態 */
.custom-swiper-button-prev.swiper-button-disabled,
.custom-swiper-button-next.swiper-button-disabled {
    display: none;
}

@media (max-width: 767px) {
    .custom-swiper-button-prev,
    .custom-swiper-button-next {
        display: none !important;
    }
}
